/* .person {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 280px;
}

.container {
    clip-path: path("M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
        );
    position: relative;
    transform-origin: 50%;
    top: -100px;
}

.circle {
    background-color: #0EA0FF;
    border-radius: 50%;
    cursor: pointer;
    height: 380px;
    left: 10px;
    pointer-events: none;
    position: absolute;
    top: 210px;
    width: 380px;
}

.img {
    pointer-events: none;
    position: relative;
    transform: translateY(20px) scale(1.15);
    transform-origin: 50% bottom;
    left: 52px;
    top: 164px;
    width: 340px;
} */


.person {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 280px;
}

.container {
    clip-path: path("M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
        );
    position: relative;
    transform-origin: 50%;
    top: -100px;
}

.circle {
    background-color: #0EA0FF;
    border-radius: 50%;
    cursor: pointer;
    height: 340px;
    left: 10px;
    pointer-events: none;
    position: absolute;
    top: 210px;
    width: 340px;
}

.img {
    pointer-events: none;
    position: relative;
    transform: translateY(20px) scale(1.15);
    transform-origin: 50% bottom;
    left: 52px;
    top: 164px;
    width: 340px;
}